<div class="footer-wrapper">
    <video autoplay muted loop playsinline aria-hidden="true">
        <source src="/assets/Gradient_B.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="container-fluid custom-container-top">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <img src="/assets/logo.png" width="60">
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="d-flex justify-content-end">
                    <h3 class="text-light">hello@ada-anvil.io</h3>
                    <img src="/assets/x-black.png" width="40">
                </div>
            </div>
        </div>
    </div>
</div>