<div class="banner-wrapper">
<video autoplay muted loop playsinline aria-hidden="true">
    <source src="/assets/Gradient_B.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<div class="container-fluid custom-container-top">
    <div class="row m-5">
        <div class="col-lg-2">
            <img src="/assets/logo.png" width="60">
        </div>
        <div class="col-lg-5">
        </div>
        <div class="col-lg-5 d-flex justify-content-center align-items-center">
            <h5 class="text-light">OUR SERVICES</h5>
            <h5 class="text-light mx-3">OUR CLIENTS</h5>
            <img src="/assets/x-black.png" width="60">
        </div>
    </div>
    
</div>
<div class="container-fluid custom-container-buttom">
    <div class="row">
        <div class="col-lg-7 my-2  d-flex  flex-column text-only">
            <h5 class="text-light">ANVIL DEVELOPMENT AGENCY</h5>
            <h1 class="text-light custom-font lg">
                WEB3 MADE EASY
            </h1>
        </div>
        <div class="col-lg-5 image-only">
            <img src="/assets/hero_banner_tmp.png" width="500">
        </div>
    </div>
</div>
</div>