.sevices-wrapper{
    min-height: 100vh;
    
    .card{
        background-color: #4d5154;
    }
    .custom-card{
        min-height: 400px;
        padding: 2px;
        position: relative;
        background-image: url('/assets/mint.png');
    background-size: cover; /* Cover the entire container */
    background-position: center;
        h3,p{
            color:#fff;
        }
        .inner{
            margin: 55px 35px 35px 35px;
        }
    }
}

.custom-card-client{
    position: relative;
}

.container {
    position: relative;
    width: 200px;
    height: 200px;
}

.small-div {
    transition: all 0.3s ease;
}

.small-div:hover {
    transform: scale(1.2); /* Make the div 20% bigger */
}
.mint::before {
    content: ""; /* Necessary for pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1); /* Adjust the alpha value for the desired level of blur */
    filter: blur(10px); /* Adjust the blur radius as needed */
}