<!-- <p>our-services works!</p> -->
<div class="bg-dark sevices-wrapper">
    <div class="container-fluid">
        <h5 class="text-light">OUR SERVICES</h5>
        <div class="row">
            <div class="col-8">
                <h1 class="text-light custom-font lg">
                    WHAT 
                </h1>
                <h1 class="text-light custom-font lg">
                    WE OFFER
                </h1>
            </div>
            <div class="col-4 p-5">
                <img src="/assets/Elevate-Cardano.svg" class=" float-end" [style]="dynStyle">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card custom-card">
                    <div class="inner">
                        <h3 class="mb-5">Mint</h3>
                        <p class="my-5">
    Multi-sig minting made easy! Elevate your projects minting experience with fast, secure and easy-to-use multi-sig minting.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card custom-card">
                    <div class="inner">
                        <h3 class="mb-5">Mint</h3>
                        <p class="my-5">
    Multi-sig minting made easy! Elevate your projects minting experience with fast, secure and easy-to-use multi-sig minting.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card custom-card">
                    <div class="inner">
                        <h3 class="mb-5">Mint</h3>
                        <p class="my-5">
    Multi-sig minting made easy! Elevate your projects minting experience with fast, secure and easy-to-use multi-sig minting.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
