// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-landing-page-primary: mat.define-palette(mat.$indigo-palette);
$angular-landing-page-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-landing-page-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-landing-page-theme: mat.define-light-theme((color: (primary: $angular-landing-page-primary,
        accent: $angular-landing-page-accent,
        warn: $angular-landing-page-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-landing-page-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Media query for screens up to a maximum width of 768 pixels (commonly used for tablets and smaller screens) */
@media (max-width: 768px) {

  /* Styles for screens up to 768px width (e.g., tablets) this is for tablet*/
  .custom-font.lg {
    font-size: 60px;
  }

  .sevices-wrapper {
    .container-fluid {
      padding: 40px;
    }
  }
}

/* Media query for screens up to a maximum width of 576 pixels (commonly used for mobile phones) */
@media (max-width: 576px) {

  /* Styles for screens up to 576px width (e.g., mobile phones) this is for mobile */
  .custom-font.lg {
    font-size: 30px;
  }

  .sevices-wrapper {
    .container-fluid {
      padding: 10px;
    }
  }
}

/* Media query for screens between 769px and 1024px width (commonly used for small laptops, large tablets, and landscape-oriented mobile devices) */
@media (min-width: 769px) and (max-width: 1024px) {

  /* Styles for screens between 769px and 1024px width  this is for laptop*/
  .custom-font.lg {
    font-size: 80px;
  }

  .sevices-wrapper {
    .container-fluid {
      padding: 90px;
    }
  }
}

/* Media query for screens larger than 1024px width (commonly used for laptops and desktops) */
@media (min-width: 1025px) {

  /* Styles for screens larger than 1024px width  this is for very large screen desktop */
  .custom-font.lg {
    font-size: 100px;
  }

  .sevices-wrapper {
    .container-fluid {
      padding: 120px;
    }
  }
}